fastapi
uvicorn[standard]
pandas
requests
numpy
scikit-learn
python-multipart
pydantic
xgboost
matplotlib
sqlalchemy
psycopg2-binary
tiktoken
timescale-vector # -no-deps
langchain-community
langchain-huggingface
python-dotenv
aiofiles
nltk
sentence-transformers
pypdf
docx2txt
unstructured
unstructured[pdf]
unstructured[docx]
openai
pgvector